<div class="about-us container">
    <div class="col-md-12 text-center">
        <h1>About Us</h1>
        <p>
            Good Bins Removals is a family-owned rubbish bin hire company in Auckland. It was founded in 2016 as a
            funiture removals company, changing overtime cover good bins bin hire, delivering rubbish and hardfill bins
            across Auckland.
        </p>
        <p>
            Our team is composed of highly skilled professionals with a passion for excellence.
        </p>
        <div>
            <h2>Our Mission</h2>
        <p>
            Our mission is to deliver high-quality services that meet the needs and exceed the expectations
            of our clients.
        </p>
        <div class="container my-5">
            <div class="row text-center">
              <div class="col-md-4">
                <h3 class="mt-3">General Waste</h3>
                <div class="icon-container">
                  <img src="assets/svgs/waste-types-1.svg" alt="General Rubbish">
                </div>
                <p>Our rubbish bins are for everyday rubbish, garden waste, or construction site rubbish.</p>
              </div>
              <div class="col-md-4">
                <h3 class="mt-3">Hardfill</h3>
                <div class="icon-container">
                  <img src="assets/svgs/waste-types-2.svg" alt="Hardfill">
                </div>
                <p>Our hardfill bins are for soil, concrete, bricks, rock, and stone.</p>
              </div>
              <div class="col-md-4">
                <h3 class="mt-3">Green Waste</h3>
                <div class="icon-container">
                  <img src="assets/svgs/waste-types-3.svg" alt="Garden Waste">
                </div>
                <p>Garden waste like branches, leaves, garden cuttings, or lawn clippings can be mixed with general rubbish. Choose a rubbish skip bin if you have garden waste.</p>
              </div>
            </div>
          </div>
        </div>
        <h2>Our Service Team</h2>
        <p>
            Our service team consists of highly skilled professionals with a passion for excellence.
            <img src="assets/images/bg-21.jpg" alt="">

        </p>
    </div>
</div>