<div class="row ">


</div>
<div class="bins-section container">
    <h1>Our Bins</h1>
    <p>Our good bins come in different sizes and take different types of waste.</p>
    <p>Rubbish bins can be used for general rubbish and garden waste combined but if you have hard waste like bricks and soil then a hardfill skip bin is the one for you.</p>
    <p>Unsure what size to order? Check out our guide below, our biggest rubbish skip bin can take up to ten trailer loads of waste and our smallest takes one trailer load.</p>
    <p>If you're still unsure and have more questions just get in touch and we can help you choose the right bin!</p>
    <hr />
</div>

<div class="container my-5">
    <div class="text-center mb-4" style="margin: 150px;">
      <h2>Waste Types</h2>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <h3 class="mt-3">General Waste</h3>
        <div class="icon-container">
          <img src="assets/svgs/waste-types-1.svg" alt="General Rubbish">
        </div>
        <p>Our rubbish skip bins are for everyday rubbish, garden waste, or construction site rubbish.</p>
      </div>
      <div class="col-md-4">
        <h3 class="mt-3">Hardfill</h3>
        <div class="icon-container">
          <img src="assets/svgs/waste-types-2.svg" alt="Hardfill">
        </div>
        <p>Our hardfill skip bins are for soil, concrete, bricks, rock, and stone.</p>
      </div>
      <div class="col-md-4">
        <h3 class="mt-3">Green Waste</h3>
        <div class="icon-container">
          <img src="assets/svgs/waste-types-3.svg" alt="Garden Waste">
        </div>
        <p>Garden waste like branches, leaves, garden cuttings, or lawn clippings can be mixed with general rubbish. Choose a rubbish skip bin if you have garden waste.</p>
      </div>
    </div>
  </div>
  