<div class="areas-serviced-container">
  <div class="workflow-section bg-dark text-center p-6" id="how-it-works">
    <div class="row text-center">
      <div class="col-md-2 offset-md-1">
        <div class="card">
          <div class="card-body">
            <img src="assets/icons/icon_first.png" class="card-img-top" alt="icon1">
            <h5 class="card-title">Delivers</h5>
            <p class="card-text">
              Monday - Friday 6.30am - 5pm <br>
              Saturday 6.30am - midday
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <img src="assets/icons/icon_second.png" class="card-img-top" alt="icon2">
            <h5 class="card-title">Book Online or Call Us</h5>
            <p class="card-text">24/7</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <img src="assets/icons/icon_third.png" class="card-img-top" alt="icon3">
            <h5 class="card-title">Bin Hireage up to 4 Days</h5>
            <p class="card-text">(longer by arrangement)</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <img src="assets/icons/icon_fourth.png" class="card-img-top" alt="icon4">
            <h5 class="card-title">We can help you choose the right bin</h5>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <img src="assets/icons/icon_fifth.png" class="winz" alt="icon5">
            <h5 class="card-title">Call us for a WINZ quote</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="instant-quote-section bg-dark row text-white text-center py-6">
    <h3>Get a quote to hire a good bin in your nearest area!</h3>

    <button 
      class="btn btn-outline-light mt-2" 
      [routerLink]="['/', languageService.language, 'get-a-quotation']">
      Instant Quote
    </button>
  </div>

  <div class="row service-zone-section" >
    <div class="col-md-6 text-white p-4 left-section">
      <h2>Areas Serviced</h2>
      <p>We service the following areas in Auckland:</p>
      <ul>
        <li>East Auckland</li>
        <li>South Auckland</li>
      </ul>
    </div>
    <div class="col-md-6 right-section">
      <!-- <img src="assets/images/bg-2.jpg" alt="Just Bins Trucks" class="img-fluid"> -->
    </div>
  </div>
</div>
  